.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar .topnav-right {
  float: right;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown_active {
  float: left;
  overflow: hidden;
background: red;
}


.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown_active .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.navbar .active {
  background-color: red;
}

.navbar a:hover, .dropdown:hover .dropbtn{
  background-color: darkgrey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown_active:hover .dropdown-content {
  display: block;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

*{margin :0}

body::-webkit-scrollbar {
  width: 12px; 
}
body::-webkit-scrollbar-track {
  background: white;         
}
body::-webkit-scrollbar-thumb {
  background-color:black;           
  border-radius: 30px;                
  border: 2px solid rgb(20, 20, 20);
}


.header {
  padding: 1px;
    margin: 0;
  background: #1abc9c;
  color: white;
  font-size: 10px;
}

.body {
     background-color: lightgrey;
}

.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 1px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -1px;
  right: -5px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}





