.hidden1 { display: none; }

table, td{
  border: 1px solid black;
}

table {
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
   
}



td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#done{
    text-align: center;
    border-radius: 8px;
    padding: 5px 20px;
    margin: 30px;
}
